test/pipeline/PL_Web_Activity.json
{
	"name": "PL_Web_Activity",
	"properties": {
		"activities": [
			{
				"name": "act_web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datausa.io/api/data?drilldowns=Nation&measures=Population"
				}
			},
			{
				"name": "act_foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_web').output.data",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "act_append",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "data",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_foreach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_in_array",
					"value": {
						"value": "@variables('data')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"data": {
				"type": "Array"
			},
			"data_in_array": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "WEB activity"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-26T03:54:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}